= form_tag(register_path, :id => "register-form") do
  %fieldset
    .field= text_field_tag(:"user[name]", nil, :placeholder => "Name")
    .field= text_field_tag(:"user[email]", nil, :placeholder => "E-mail")
    .field= password_field_tag(:"user[password]", nil, :placeholder => "Password")
    .field= password_field_tag(:"user[password_confirmation]", nil, :placeholder => "Password confirmation")

  .actions
    = submit_tag("Register")
    = link_to("...or log in", root_path)
