!!! 5
%html

  %head
    %title Budgeteer
    = stylesheet_link_tag("application")
    = javascript_include_tag("canvasjs.min.js")
    = javascript_include_tag("budgeteer.js")

  %body
    %main
      %header
        %h1
          Budgeteer
          = link_to("Preferences", preferences_path, :id => "preferences-link") if logged_in?
          = link_to("Log out", logout_path, :id => "logout-link") if logged_in?

      - if flash[:notice]
        #notice= flash[:notice]

      - if flash[:error]
        #error= flash[:error]

      = yield
